.container__home{
  position: absolute;
  width: 100%;
  top: 50px;
  height: 800px;
  z-index: -1;
}

.main__img{
  object-fit: cover;
  width:100%;
  height:100%;
}

.container__cards{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}